<% provide(:title, "About") %>
<div class="about">
  <h1>勉強が「分かる」「楽しい」と<br>思えるように。</h1>
  <p>そもそも公式が理解できない・・・</p>
  <p>この解き方で合っているのか・・・</p>
  <p>でも塾に行くのもお金が掛かるし・・・</p>
  <p>StudySupportではこれらの問題を解決して、</p>
  <p>あなたの勉強をサポートします。</p>
  <p>場所、時間に縛られず、あなたの勉強の悩みを解決しませんか？</p>
  <p>まずは、新規登録して質問してみましょう。</p>
  <p>勉強を教えたい方も大募集中！！質問への回答は新規登録後！！</p>
</div>