<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h4>StudySupportとは？？</h4>
      <p>みんながあなたの勉強をサポートします。</p>
      <%= link_to "StudySupportの詳細へ", about_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  <%= render '/microposts/index' %>
</main>



