<% @comments.each do |comment| %>
  <div class= "index-comment border">
    <div class="box">
      <div class="item">
        回答
      </div>
      <div class="sentence">
        <%= simple_format(comment.comment) %>
      </div>
      <div class="picture">
        <%= comment.picture%>
      </div>
      <div class="timestamp">
        <%= comment.created_at.strftime("%m/%d %H:%M") %>
          <span class="user"><%= comment.user %></span> 
      </div>
    </div>
  </div>
<% end %>
  
