<div class="container index-container">
  <div class="row">
    <div class="col-sm-2">
    <%= link_to "質問する", "#", class: "btn btn-outline-primary" %>
      <p>科目</p>
    </div>
    <div class="col-sm-8">
      <% if @microposts %>
        <ol class="microposts">
        <%= render @microposts %>
        </ol>
        <div class="pagination justify-content-center">
          <%= paginate @microposts %>
        </div>
    　<% else %>
  　　  <h6>質問がありません</h6>
      <% end %>
    </div>
    <div class="col-sm-2">
    <%= link_to "質問する", "#", class: "btn btn-circle-3d" %>
    </div>
  </div>
</div>
