/* header */

.logo-text {
  color: #000;
  &:hover {
    color: #000;  
    text-decoration: none;
  }
}

.navbar-nav {
  :hover {
    color: #858585bb;
  }
}

.nav-item {
  color: #000;
  padding-right: 5px;
  &:hover {
   text-decoration: none;
  }
}

.dropdown-toggle {
  color: #000;
  margin-right: 2rem;
}

/* main */

.jumbotron {
  background-color: #ddffff;
  p {
    font-size: 0.75rem;
  }
}

.no-line {
  text-decoration: none !important;
  color: black !important;
}

.index-micropost {
  margin-bottom: 0.5rem;
  &:hover {
    background-color: #f3f3f3;
  }
}

.box {
  margin: 1.5rem;
  font-size: 0.7rem;
}

.item {
  color: #858585bb;
}

.item:before {
  content: "\025bc";
}

.sentence {
  margin: 1.5rem 0rem;
}

.timestamp {
  margin-top: 2rem;
}

.timestamp:before {
  content:"\0ab";
}

.timestamp:after {
  content:"\0bb";
}

.user {
  float: right;
}

/* about */

.about {
  text-align: center;
  h1 {
    position: relative;
    margin-bottom: 6rem;
    padding-top: 4rem;
  }
  p {
    line-height: 2;
    font-size: 0.8rem;
    font-weight: normal;
  }
}

.about:before {
  content: '';
  width: 15rem;
  height: 15rem;       
  border-radius: 50%; 
  border: solid #ccc;  
  display: block;  
  position: absolute; 
  left: 0;              
  right: 0;      
  margin: auto; 
  top: 4rem;  
  z-index: -1;    
}

.about:after {
  content: '';            
  width: 14rem;  
  height: 14rem; 
  border-radius: 50%; 
  border: 1px solid #ccc;
  display: block; 
  position: absolute;  
  left: 0;      
  right: 0;    
  margin: auto; 
  top: 4.5rem;   
  z-index: -1;  
}

/* signup */

.signup-title {
  padding-left: 2rem;
    h5 {
      font-weight: bold;
    }
    p {
      font-size: 0.8rem;
      margin-top: -1.5rem;
    }
}

.signup-container {
  padding-top: 4rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.form-control {
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.form-submit {
  width: 100%;
  margin-top: 2rem;
}

/* error messages */

.error_massages {
  text-align: center;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin-bottom: 1rem;
  }
}

.field_with_errors .form-control {
  border-color: red;
}

.alert-form-extend {
  margin: 1rem;
  text-align: center;
}

/* login */

.login-title {
  padding-left: 2rem;
    h5 {
      font-weight: bold;
    }
    p {
      font-size: 0.8rem;
      margin-top: -1.5rem;
    }
}

.login-container {
  padding-top: 4rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.form-check-input {
  margin-left: 0.1rem;
}

.form-check-label {
  margin-left: 1.1rem;
}

/* edit */

.edit-title {
  padding-left: 2rem;
    h5 {
      font-weight: bold;
    }
}

.edit-container {
  padding-top: 4rem;
  font-size: 0.8rem;
  font-weight: bold;
}

/* forgotpass */

.forgotpass-title {
  padding-left: 2rem;
    h5 {
      font-weight: bold;
    }
    p {
      font-size: 0.8rem;
      margin-top: -1.5rem;
    }
}

.forgotpass-container {
  padding-top: 4rem;
  font-size: 0.8rem;
  font-weight: bold;
}

/* resetpass */

.resetpass-title {
  padding-left: 2rem;
    h5 {
      font-weight: bold;
    }
    p {
      font-size: 0.8rem;
      margin-top: -1.5rem;
    }
}

.resetpass-container {
  padding-top: 4rem;
  font-size: 0.8rem;
  font-weight: bold;
}

/* show microposts */

.text-right {
  margin-bottom: 0.5rem;
}

.micropost {
  margin-bottom: 0.5rem;
}

.comment-index {
  margin: 4rem 0rem 2rem 0rem;
}

/* pagination */

.pagination>li>a {          
  border: none;     
  color: #858585bb;
}

.pagination>.active>a {     
  background: #bedaf5; 
  border-radius: 50%; 
}

.pagination>li>a:hover {        
  border-radius: 50%;
}

/* question microposts */

.question-title {
  padding-left: 2rem;
    h5 {
      font-weight: bold;
    }
}

.question-container {
  padding-top: 4rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.form-control {
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.form-submit {
  width: 100%;
  margin-top: 2rem;
}

/* comment */

.form-comment {
  margin-top: 4rem;
  border-top: solid gray;
}

.comment-label {
  margin-top: 2rem;
}

/* footer */

footer {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}