/* header */

.logo-text {
  color: #000;
  &:hover {
    color: #000;  
    text-decoration: none;
  }
}

.nav-item {
  color: #000;
  padding-right: 5px;
  &:hover {
   color: #000;  
   text-decoration: none;
  }
}

/* main */

.jumbotron {
  background-color: #ddffff;
  p {
    font-size: 0.75rem;
  }
}

.subject {
  padding-left: 3rem;
  h6 {
    padding: .25em 0 .25em .75em;
    border-left: 6px solid #008080;
  }
}  

.discription-img-container {
  position: relative;
  margin: 1em auto;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  h4 {
    font-size: 0.75rem;
  }
}

.discription-img {
  width: 50%;
  height: 40%;
}

.img-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* about */

.about {
  text-align: center;
  h1 {
    position: relative;
    margin-bottom: 6rem;
    padding-top: 4rem;
  }
  p {
    line-height: 2;
    font-size: 0.8rem;
    font-weight: normal;
  }
}

.about:before {
  content: '';
  width: 15rem;
  height: 15rem;       
  border-radius: 50%; 
  border: solid #ccc;  
  display: block;  
  position: absolute; 
  left: 0;              
  right: 0;      
  margin: auto; 
  top: 4rem;  
  z-index: -1;    
}

.about:after {
  content: '';            
  width: 14rem;  
  height: 14rem; 
  border-radius: 50%; 
  border: 1px solid #ccc;
  display: block; 
  position: absolute;  
  left: 0;      
  right: 0;    
  margin: auto; 
  top: 4.5rem;   
  z-index: -1;  
}

/* signup */

.signup-title {
  padding-left: 2rem;
    h5 {
      font-weight: bold;
    }
    p {
      font-size: 0.8rem;
      margin-top: -1.5rem;
    }
}

.signup-container {
  padding-top: 4rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.error_massages {
  text-align: center;
}

.form-control {
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.form-submit {
  width: 100%;
  margin-top: 2rem;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin-bottom: 1rem;
  }
}

.field_with_errors .form-control {
  border-color: red;
}

.alert-form-extend {
  margin: 1rem;
  text-align: center;
}

/* footer */

footer {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}